<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form form-group">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user" type="text" class="input" placeholder="Email" [(ngModel)]="loginUser.email" >
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="Password" [(ngModel)]="loginUser.password" >
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" (click)='login()'>
				</div>
				<div class="hr"></div>
			</div>
			
			
			<div class="sign-up-form form-group" >
				<div class="group">
					<label for="registerEmail" class="label">Email</label>
					<input id="registerEmail" type="text" class="input" placeholder="Email" [(ngModel)]="registerUser.email"
							name="registerEmail"	#registerEmail="ngModel"	pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="Password" [(ngModel)]="registerUser.password">
				</div>
				<div class="group">
					<label for="registerUserName" class="label">User name</label>
					<input id="registerUserName" type="text" class="input" placeholder="User name" [(ngModel)]="registerUser.userName"
							name="registerUserName"	 #registerUserName="ngModel">
				</div>
				<div class="group">
					<label for="user" class="label">Birthday</label>
					<input id="user" type="text" class="input" placeholder="1995" [(ngModel)]="registerUser.birthday">
				</div>
				<div class="group">
					<label for="user" class="label">Gender</label>
					<select id="user" class="input" [(ngModel)]="registerUser.gender">
						<option value="1">Male</option>
						<option value="0">Female</option>
					</select>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up" (click)='register()'>
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>